.input-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-validator input {
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1.2rem;
}

.password-validator button {
  padding: 0.7rem 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  border: none;
  background-color: green;
  color: white;
}

.password-validator p {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 1.2rem;
}
